<% provide(:title, @user.name) %>

<div class="row">
    <section class="user_info">
      <h1>
      <% if @user.image? %>
        <%= image_tag @user.image.thumb.url , class: "big-user-icon" %>
      <% else %>
        <%= image_tag "default.jpg", alt: "user-icon", class: "user-icon" %>
      <% end %>
      <br>
        <%= @user.name %>
      </h1>
    </section>

    <table>
      <tr>
        <th>Step 1</th>
        <td>テーブル株式会社</td>
      </tr>
      <tr>
        <th>Step 2</th>
        <td>1940年</td>
      </tr>
      <tr>
        <th>Step 3</th>
        <td>500人</td>
      </tr>
      <tr>
        <th>Step 4</th>
        <td>000-000-0000</td>
      </tr>
      <tr>
        <th>Step 5</th>
        <td>000-000-0000</td>
      </tr>
      <tr>
        <th>Step 6</th>
        <td>000-000-0000</td>
      </tr>
    </table>

    <% if current_user %>
      <%= link_to "勉強計画を練り直す", edit_project_path %>
    <% end %>
</div>